.container-45 {
    width: 400px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .center-45 {
    width: 180px;
    height: 60px;
    position: absolute;
  }
  
  .btn-45 {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #91C9FF;
    outline: none;
    transition: 1s ease-in-out;
  }
  
  svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
  }
  
  .btn-45:hover {
    transition: 1s ease-in-out;
    background: #4F95DA;
  }
  
  .btn-45:hover svg {
    stroke-dashoffset: -480;
  }
  
  .fourtx {
    color: white;
    font-size: 18px;
    font-weight: 100;
  }